.projectImage{
    width: 500px;
    height: 250px;
    border: 4px solid #c4a5df;
}
.projectBottom{
    width: 508px;
    background-color: #5c377d;
    height: 70px;
}
.projectTitle{
    color: white;
    font-size: 30px;
    font-weight: 500;
}
.projectContainer{
    cursor: pointer;
}