@media (max-width:1250px) {
    .navbarContainer{
        visibility: hidden;
        position: absolute;
    }
}
.navbarContainer{
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    background-color: #5C377D33;
    position: relative;
    top: 0;
    width: 100%;
}
.navbarContainer h2{
    padding: 20px;
}