.titleFlexed{
    color: black;
    padding: 40px;
    font-weight: 600;
}
@media (max-width: 1249px) {
    .titleFlexed{
        font-size: 30px;
    }
}
@media (min-width: 1250px) {
    .titleFlexed{
        font-size: 50px;
    }
}