@media (min-width: 1250px) {
    .headerContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }
    .avatar{
        height: 500px;
    }
    .titleIntroduction{
        font-size: 50px;
        width: 500px;
    }
    .textIntroduction{
        font-size: 30px;
        width: 500px;
    }
}
@media (max-width:1249px) {
    .headerContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .titleIntroduction .textIntroduction{
        width: 200px;
    }
    .avatar{
        height: 300px;
    }
    .titleIntroduction{
        font-size: 30px;
        width: 300px;
    }
    .textIntroduction{
        font-size: 20px;
        width: 250px;
    }
}
.headerContainer{
    background-color: white;
    padding: 40px;
}   
.flexedContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.verticalflex{
    flex-direction: column;
}
.titleIntroduction{
    font-weight: 700;
}
.textIntroduction{
    font-weight: 500;
}